# Python-specific ignores
__pycache__/
app/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt

# Virtual environment
virtual-tryon-api/
venv/
env/

# Temporary directories created by the API
# debug/
# results/
temp/

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS-specific files
.DS_Store

# Logs and runtime files
*.log
*.pid

# Sensitive or local configuration files
.env
*.local

# Large data files
*.pth
*.ckpt
*.pt
*.tar.gz
*.zip

